<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Currency Converter</title>
  </head>
  <body>
    <h1> Hello world</h1>

    <div ng-controller="currencyConverterCtrl">
      <form>
        <select ng-model="currency">
          <option ng-repeat="currency in currencies" value="{{currency}}"> {{currency}} </option>
        </select>
        <input type="number" ng-model="currencyAmount" />
        <div>{{ usdCurency }}</div>
        <button ng-click="convertCurrencyToUsd(currency)">convert</button>
      </form>
    </div>

    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="vendor/angular-route/angular-routejs"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/currencyConverterCtrl.js"></script>
    <script type="text/javascript" src="app/services/currencyConverterService.js"></script>
  </body>
</html>